/* 第一屏 */
.section1 {
  background: url('../images/01/bg.png') center bottom no-repeat;
}
.section1 .products {
  position: absolute;
  left: 50%;
  margin-left: -414px;
  bottom: 320px;
}
.section1 .sofa {
  position: absolute;
  left: 50%;
  bottom: 326px;
  margin-left: -182px;
}
.section1 .ball {
  position: absolute;
  left: 50%;
  margin-left: 100px;
  bottom: 465px;
}
.section1.animation .sofa {
  animation: move 0.8s infinite alternate;
}
.section1.animation .ball {
  animation: move 0.8s 0.3s infinite alternate;
}
@keyframes move {
  to {
    transform: translateY(-60px);
  }
}
/* 第二屏 */
.section2 {
  background: url('../images/02/bg.png') center bottom no-repeat;
}
.section2 .search {
  position: absolute;
  left: 50%;
  margin-left: 400px;
  bottom: 287px;
  height: 45px;
}
.section2 .sofas {
  height: 0;
  position: absolute;
  right: 50%;
  margin-right: -220px;
  bottom: 200px;
}
/* 第三屏 */
.section3 {
  background: url('../images/03/bg.png') no-repeat center center;
}
.section3 .sofa {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -230px;
  margin-top: -100px;
}
.section3 .color {
  background: url('../images/03/color01.gif');
  width: 296px;
  height: 131px;
  position: absolute;
  left: 50%;
  margin-left: 40px;
}
.section3 .add {
  background: url('../images/03/add01.gif');
  width: 218px;
  height: 58px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-bottom: -200px;
  margin-left: 30px;
}
.section3.animation .color {
  transition: all 1.5s;
  background-image: url('../images/03/color02.gif');
}
.section3.animation .add {
  transition: all 1.5s;
  background-image: url('../images/03/add02.gif');
}
/* 第四屏 */
.section4 {
  background: url('../images/04/bg.png') center bottom no-repeat;
}
.section4 .cloud {
  position: absolute;
  top: 0;
  right: 0;
}
.section4 .words02 {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -175px;
  margin-bottom: 150px;
}
.section4 .keyboard {
  width: 283px;
  height: 270px;
  position: absolute;
  background: url('../images/04/keyboard.png');
  left: 50%;
  margin-left: -100px;
  bottom: 50%;
  margin-bottom: -140px;
  opacity: 0;
}
.section4 .keyboard .address {
  position: absolute;
  left: 65px;
  top: 57px;
}
.section4 .sofa {
  width: 407px;
  height: 346px;
  position: absolute;
  background: url('../images/04/sofa.png') 151px -22px no-repeat;
  left: 50%;
  bottom: 44px;
  margin-left: -174px;
}
.section4 .sofa .car {
  position: absolute;
  left: 0;
  top: 0;
}
/* 第五屏 */
.section5 {
  background: url('../images/05/bg.png') repeat;
  overflow: hidden;
  perspective: 800px;
}
.section5 .card_box {
  width: 358px;
  height: 221px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -396px;
  margin-top: 50px;
}
.section5 .card_box .card {
  position: absolute;
  left: 0;
  top: 0;
}
.section5 .card_box .bill {
  position: absolute;
  left: 141px;
  top: 0px;
}
.section5 .mouse {
  width: 205px;
  height: 400px;
  background: url('../images/05/mouse01.png') left bottom;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 290px;
  margin-top: -157px;
  transition: all 1s;
}
.section5 .hand {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 180px;
  margin-left: 265px;
}
.section5 .words {
  position: absolute;
  left: 50%;
  top: 50px;
  margin-left: -274px;
  opacity: 0;
  transition: all 1s;
}
/* 第六屏 */
.section6 {
  /* -1180px */
  width: 100%;
  height: 100%;
  background: url('../images/06/bg.png') -230px bottom repeat-x;
}
.section6 .box_box {
  width: 123px;
  height: 85px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  bottom: 360px;
  /* top: 530px; */
}
.section6 .box_box .box {
  position: absolute;
}
.section6 .box_box .sofa {
  height: 78px;
  position: absolute;
  left: 18px;
  top: -17px;
}
.section6 .car_box {
  width: 221px;
  height: 122px;
  position: absolute;
  bottom: 85px;
  left: 501px;
}
.section6 .car_box .car {
  position: absolute;
  left: 0;
  top: 0;
}
.section6 .car_box .man {
  position: absolute;
  right: 7px;
  bottom: 19px;
  height: 0;
}
.section6 .door {
  position: absolute;
  bottom: 116px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}
.section6 .girl {
  position: absolute;
  bottom: 116px;
  height: 120px;
  left: 50%;
  margin-left: 25px;
  opacity: 0;
}
/* 第7屏 */
.section7 {
  background: url('../images/07/bg.png') bottom center;
}
.section7 .stars {
  background: url('../images/07/stars3.png');
  width: 0px;
  height: 17px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  bottom: 444px;
}
.section7 .good {
  position: absolute;
  left: 50%;
  margin-left: -284px;
  bottom: 379px;
  opacity: 0;
}
.section7.animation .stars {
  width: 105px;
  transition: all 1s steps(5);
}
.section7.animation .good {
  opacity: 1;
  transition: all 1s 1s;
}
/* 第八屏 */
.section8 {
  background: url('../images/08/bg.png');
}
.section8 .begin {
  width: 389px;
  height: 160px;
  background: url('../images/08/begin.png');
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50px;
}
.section8 .begin:hover {
  background: url('../images/08/begin.gif');
}
.section8 .again {
  position: absolute;
  right: 50px;
  bottom: 80px;
}
.section8 .hand {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
